<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookRepository" class="com.library.repository.BookRepository"/>

    <!--
        Constructor injection: passes bookRepository via constructor arg.
        Setter injection:      also demonstrated via <property> tag.
        Spring will call the constructor first, then the setter.
    -->
    <bean id="bookService" class="com.library.service.BookService">
        <!-- Constructor Injection -->
        <constructor-arg ref="bookRepository"/>
        <!-- Setter Injection (overrides / supplements constructor arg) -->
        <property name="bookRepository" ref="bookRepository"/>
    </bean>
</beans>
